@charset "UTF-8";
/*--- Importation des partials générales ---*/
/*--- Importation des partials composantes ---*/
.menu {
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.05rem;
  line-height: 0;
}
.menu a {
  text-decoration: none;
  color: #1E1E1E;
  cursor: pointer;
}

.site-link img {
  width: 32px;
}

.menu-shopping-bag {
  margin-left: auto;
}
.menu-shopping-bag img {
  height: 28px;
}

.menu-item.active {
  opacity: 100%;
}

.menu-item {
  margin-left: -20px;
  display: inline;
  margin-right: 40px;
  opacity: 50%;
  transition: opacity 0.2s;
}
.menu-item:hover, .menu-item:focus {
  opacity: 100%;
}

.hero-wrapper {
  position: relative;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
  height: 95vh;
  background: linear-gradient(180deg, #5FA2BD 30%, #F9F1DE 100%);
  border-radius: 30px 30px 0 0;
}

.hero-contenu {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.hero-titre {
  white-space: nowrap;
  width: 100%;
  color: #F9F1DE;
  font-family: Woodland Bold;
  letter-spacing: -0.8vw;
  text-align: center;
  font-size: 5vw;
  overflow-x: hidden;
  height: 114px;
  line-height: 65px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-titre {
    font-size: 61.2px;
    line-height: 65px;
    letter-spacing: -3.5px;
  }
}

.hero-image {
  position: absolute;
  bottom: 0;
  left: -40vw;
}
@media screen and (min-width: 1024px) {
  .hero-image {
    left: -30vw;
  }
}

.hero-image img {
  width: 60vh;
  max-width: 650px;
}
@media screen and (min-width: 1600px) {
  .hero-image img {
    width: 1600px;
  }
}
@media screen and (min-width: 460px) {
  .hero-image img {
    width: 100vw;
    max-width: 170vh;
  }
}
@media screen and (min-width: 1440px) {
  .hero-image img {
    width: 120vw;
    max-width: 160vh;
  }
}

.hero-texte {
  position: relative;
  text-align: right;
  width: 95vw;
  margin-left: auto;
  margin-top: -2vh;
  margin-right: 1rem;
  color: #F9F1DE;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .hero-texte {
    width: 70%;
  }
}
@media screen and (min-width: 1440px) {
  .hero-texte {
    margin-top: -1vh;
  }
}
.hero-texte h2 {
  font-size: 2rem;
  line-height: 30px;
}
@media screen and (min-width: 768px) {
  .hero-texte h2 {
    font-size: 2.5rem;
    line-height: 35px;
  }
}
@media screen and (min-width: 2560px) {
  .hero-texte h2 {
    font-size: 3.5rem;
    line-height: 55px;
  }
}
.hero-texte p {
  margin-top: 1rem;
  padding-left: 20%;
}

.community-wrapper {
  overflow-x: hidden;
  height: 820px;
  margin-bottom: 80px;
}

.community-content {
  width: 100vw;
  max-width: 100%;
  height: auto;
  display: grid;
  line-height: 40px;
  grid-template-rows: 1.5fr 1.2fr 1fr 1.2fr;
  justify-items: center;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .community-content {
    grid-template-rows: 220px 180px 150px 180px;
  }
}

.community-title {
  width: 100vw;
  max-width: 90%;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.community-title h2 {
  position: relative;
  left: -2.5vw;
}

.community-text {
  position: relative;
  width: 105vw;
  left: -2.5vw;
  overflow-x: hidden;
  overflow: visible;
  display: flex;
  align-items: center;
}

.community-text .content {
  max-width: 1200px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .community-text .content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    top: -20px;
    position: relative;
  }
}
.community-text .content .para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  rotate: -5deg;
  width: 100%;
  color: #F9F1DE;
}
@media screen and (min-width: 768px) {
  .community-text .content .para {
    width: 50%;
  }
}
.community-text .content img {
  display: none;
}
@media screen and (min-width: 768px) {
  .community-text .content img {
    width: 250px;
    display: block;
  }
}

.community-text.top {
  background-color: #5FA2BD;
  rotate: 5deg;
  z-index: 1;
}

.community-text.middle {
  background-color: #F9F1DE;
}
.community-text.middle .content {
  z-index: 2;
}
.community-text.middle .content .para {
  color: #1E1E1E;
  rotate: 0deg;
}

.community-text.bottom {
  background-color: #5FA2BD;
  rotate: -2deg;
}
.community-text.bottom .content .para {
  rotate: 2deg;
}
.community-text.bottom img {
  height: 30vw;
  width: auto;
}
@media screen and (min-width: 1024px) {
  .community-text.bottom img {
    height: 250px;
    width: auto;
  }
}

.activities-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem;
}

.swiper.activities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.swiper.activities .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 40px;
  max-height: 700px;
  text-align: center;
  color: #F9F1DE;
  padding-top: 30px;
  padding-bottom: 30px;
}
.swiper.activities .swiper-slide img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
  margin-top: 20px;
}
.swiper.activities .swiper-slide h3 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 38px;
}
.swiper.activities .swiper-slide button:after {
  rotate: -90deg;
  background-position: 0;
}

.swiper-slide.bleu {
  background-color: #5FA2BD;
}
.swiper-slide.bleu p {
  margin-bottom: 20px;
  margin-top: 20px;
}

.swiper-slide.vert {
  background-color: #A4C268;
}

.swiper-slide.rose {
  background-color: #EA667E;
}

.beverages-wrapper {
  position: relative;
  top: 100px;
  width: 100vw;
  max-width: 100%;
  margin-bottom: 100px;
}

.beverages-content {
  height: 60vh;
  background: linear-gradient(180deg, #A4C268 30%, #EA667E 100%);
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .beverages-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
}
.beverages-content .picture-coffee-shop {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 500px;
  display: none;
}
@media screen and (min-width: 768px) {
  .beverages-content .picture-coffee-shop {
    display: block;
  }
}

.beverages-strip {
  width: 100vw;
  max-width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  white-space: no-wrap;
  overflow-x: hidden;
}
.beverages-strip a,
.beverages-strip span {
  white-space: nowrap;
  color: #F9F1DE;
  font-family: "Poppins", sans-serif;
  width: 80%;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -1px;
  text-decoration: none;
}
.beverages-strip a:hover {
  color: transparent;
  -webkit-text-stroke: 1px #F9F1DE;
}
.beverages-strip.to-left {
  background-color: #A4C268;
}
.beverages-strip.to-right {
  background-color: #EA667E;
}

.beverages-items {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}
@media screen and (min-width: 768px) {
  .beverages-items {
    width: 50%;
    right: 0;
  }
}
.beverages-items .items {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.beverages-items .items p {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 30px;
  paint-order: stroke fill;
}
@media screen and (min-width: 1440px) {
  .beverages-items .items p {
    font-size: 2.5rem;
    line-height: 40px;
  }
}
.beverages-items .top p {
  color: #EA667E;
  -webkit-text-stroke: 5px #F2BCC6;
  animation: textRotation 2s linear infinite;
}
@media screen and (min-width: 1440px) {
  .beverages-items .top p {
    -webkit-text-stroke: 10px #F2BCC6;
  }
}
.beverages-items .top img {
  width: 100px;
  animation: textRotation 2s linear infinite reverse;
}
@media screen and (min-width: 1440px) {
  .beverages-items .top img {
    width: 150px;
  }
}
.beverages-items .bottom p {
  color: #A4C268;
  -webkit-text-stroke: 5px #CFE5A4;
  animation: textRotation 2s linear infinite reverse;
}
@media screen and (min-width: 1440px) {
  .beverages-items .bottom p {
    -webkit-text-stroke: 10px #CFE5A4;
  }
}
.beverages-items .bottom img {
  height: 100px;
  animation: textRotation 2s linear infinite;
}
@media screen and (min-width: 1440px) {
  .beverages-items .bottom img {
    height: 150px;
  }
}

@keyframes textRotation {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}
footer {
  width: 100%;
}

.footer-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.footer-content p {
  font-size: 0.9rem;
  line-height: 15px;
  font-weight: 400;
}

.footer-icons {
  margin-left: auto;
}
.footer-icons img {
  width: 32px;
  text-align: right;
}

/*--- Importation des fonts ---*/
@font-face {
  font-family: "Woodland Bold";
  src: url("./assets/fonts/PPWoodland-Bold.otf") format("opentype");
}
/*--- Styles généraux ---*/
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F9F1DE;
}

header {
  background: #F9F1DE;
  width: 100vw;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 65px;
}

p {
  font-family: "Poppins", sans-serif;
  width: 80%;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 25px;
}
@media screen and (min-width: 768px) {
  p {
    line-height: 28px;
  }
}
@media screen and (min-width: 2560px) {
  p {
    line-height: 40px;
  }
}

button {
  width: auto;
  background-color: #EA667E;
  color: #fff;
  border-radius: 40px;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: -2px;
  border: 4px #F2BCC6 solid;
  padding: 0.2rem 1rem 0.2rem 1rem;
  transition: background-color 0.5s, border 0.5s;
}
button:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("./assets/images/icons/icone-fleche-vers-bas.png") no-repeat;
  background-size: contain;
  background-position: 100%;
  margin-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  button:after {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 2560px) {
  button:after {
    width: 30px;
    height: 30px;
  }
}
button:hover {
  border: 4px #EA667E solid;
  background-color: #F2BCC6;
  cursor: pointer;
}
button a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  button {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 2560px) {
  button {
    font-size: 2.5rem;
  }
}

.woodland {
  font-family: "Woodland Bold";
}/*# sourceMappingURL=style.css.map */