@use "../modules/variables";

.community-wrapper {
    overflow-x: hidden;
    height: 820px;
    margin-bottom: 80px;
}

.community-content {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: grid;
    line-height: 40px;
    grid-template-rows: 1.5fr 1.2fr 1fr 1.2fr;
    justify-items: center;
    @media screen and (min-width: variables.$tablet) {
        grid-template-rows: 220px 180px 150px 180px;
    }
    gap: 1rem;
}

.community-title {
    width: 100vw;
    max-width: 90%;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
        position: relative;
        left: -2.5vw;
    }
}

.community-text {
    position: relative;
    width: 105vw;
    left: -2.5vw;
    overflow-x: hidden;
    overflow: visible;
    display: flex;
    align-items: center;
}

.community-text .content {
    max-width: variables.$contenu-width;
    width: 100%;
    @media screen and (min-width: variables.$tablet) {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        top: -20px;
        position: relative;
    }
    .para {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        rotate: -5deg;
        width: 100%;
        color: variables.$beige;
        @media screen and (min-width: variables.$tablet) {
            width: 50%;
        }
    }
    img {
        display: none;
        @media screen and (min-width: variables.$tablet) {
            width: 250px;
            display: block;
        }
    }
}

.community-text.top {
    background-color: variables.$bleu;
    rotate: 5deg;
    z-index: 1;
}

.community-text.middle {
    background-color: variables.$beige;
    .content {
        .para {
            color: variables.$noir;
            rotate: 0deg;
        }
        z-index: 2;
    }
}

.community-text.bottom {
    background-color: variables.$bleu;
    rotate: -2deg;
    .content .para {
        rotate: 2deg;
    }
    img {
        height: 30vw;
        width: auto;
        @media screen and (min-width: variables.$laptop) {
            height: 250px;
            width: auto;
        }
    }
}
