//--- Couleurs ---
$beige: #F9F1DE;
$noir: #1E1E1E;
$rose: #EA667E;
$rose-pale: #F2BCC6;
$vert: #A4C268;
$vert-pale: #CFE5A4;
$bleu: #5FA2BD;

//--- Resolutions ---
$contenu-width: 1200px;

//--- Media queries ---
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$xl: 2560px;